/*pseudoselectors

h2:hover{
color:white;

h2+a{   here the color of both will be changed.
color:blue;
}

textarea ~ button{
color:red; here the color button under the textarea will be changed.

ul>li{
color:white;
} here it will change li inside the ul.

}
*/

.header{
  background-color: #3b5998;
  width:100%;
  height: 100px;
}
.logo{
  width:50%;
  padding-top: 30px;
  float: left;
}
.login{
width: 50%;
padding-top: 22px;
float: left;

}
body{
  margin:0;
  font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
}

.login-controls{
  padding-left: 110px
}

.form{
      margin-top: 10px;
}
.second-column{
      margin-top: 10px;
}
.third-column{
      margin-top: 10px;
}
.facebooklogo{
  color: white;
  font-family: Helvetica Neue, Helvetica,Arial,sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 170px;

}
.login-label{
  color:white;
  font-size: 11px;
  text-decoration: none;
}
.login-button{
  background-color:#3b5998;
  color: white;
  border-color: #3b5998;
  height:20px;
  cursor: pointer;
}
.login-button:hover{
  background: red;

}
.main-body{
  background: linear-gradient(white,#D3D8E8);
  width: 100%;
  height: 500px;
}
.left-section{
  width:50%;
  padding-left: 134px;
  padding-top: 52px;
  float: left;
}
.right-section{
  width:40%;
  float: left;
}
.para{
  font-size: 22px;
font-weight: bold;
}
.h1{
  font-size: 45px;
}
.p{
  font-size: 25px;
}
.form{
  height:24px;
  border-radius: 3px;
    border-radius: 3px;
    border-color: white;
    width: 180px;
    font-size: 21px;
}
.second-column{
  height:24px;
  border-radius: 3px;
    border-radius: 3px;
    border-color: white;
    width: 375px;
    font-size: 21px;
}

.third-column{
  height:24px;
  height: 28px;
    border-radius: 3px;
    border-color: white;
    width: 375px;
    font-size: 21px;
}
.bday-label{
  color:grey;
  margin-top: 5px;
}

::placeholder{
  color:grey;
  opacity: 0.75;
}

#day{
      margin-left: 2px;
      height: 24px;
margin-right: 2px;
border-radius: 3px;
border-color: white;
}
#month{
  margin-left: 2px;
  height: 24px;
margin-right: 2px;
border-radius: 3px;
border-color: white;
}
#year{
  margin-left: 2px;
  height: 24px;
margin-right: 2px;
border-radius: 3px;
border-color: white;
}
